.grid{
    margin-top: 50px;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    background-color: aquamarine; 
}

.square{
    padding: 50px;
    background-color: white;
}

h6{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: aquamarine;
    border-radius: 10%;
}

.formBox{
    display: flex;
    margin-top: 50px;
    justify-content: center;

}

.startBtn{
    margin-top: 20px;
}

.turn{
    margin-top: 20px;
}